__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
instance/
.env
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.db
static/images/uploads/
*.jpg
*.jpeg
*.png
*.gif
*.mp3
*.mp4
*.wav
*.pdf
!static/images/nen1.jpg
!static/images/wedding*.jpg
!static/images/photo*.jpg
!static/images/qr*.jpg
!static/images/qr*.png
!static/audio/wedding.mp3